.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.app__header {
  background: var(--highlightColor);
  color: #fff;
}

.app__footer {
  box-shadow: 0px -10px 20px #a3a3a3;
}
